body{ 
    background-color: whitesmoke;
    display: flex;  
    justify-content: center;  
    align-items: center;          
    margin: 0;  
    padding: 0;          
}

.container{
    background-color: gainsboro;
    overflow: auto;
    padding: 20px auto; 
    width: 500px;
    height: 600px;           
    border-radius: 8px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */  
    margin: 20px auto;
    box-sizing: border-box;
}

h1{
    background: linear-gradient(to right, #FFD700, #ff1493);
    color: black;
    font-size: 35px;
    font-weight: 400;
    padding: 15px;
    text-transform: uppercase; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    font-family:Georgia, 'Times New Roman', Times, serif; 
    text-align: center; 
    margin: auto;
    margin-bottom: 20px; 
}                

.input-form{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;  
    position: relative;
    padding-left: 20px;
}

.input-form i{
    position: relative;
    right: 22px;
    top: 3px;
    transform: translate(-50%);
    font-size: 20px;
}

#fullname {
          border-radius: 8px;
          width: 50%;
          height: 22px;
          margin-bottom: 15px;
          outline: none;
          border:  0 solid rgb(169, 169, 169);
}

#username {
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 1em;
        border-radius: 8px;
        margin-bottom: 15px;
        width: 50%;
        height: 22px;
        outline: none;
        border:  0 solid rgb(169, 169, 169);
}

#dob {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    border-radius: 8px;
    margin-bottom: 15px;
    width: 50%;
    height: 22px;
    outline: none;
    border:  0 solid rgb(169, 169, 169);
}

#email {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    border-radius: 8px;
    margin-bottom: 15px;
    width: 50%;
    height: 22px;
    outline: none;
    border:  0 solid rgb(169, 169, 169);
}

#file{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    margin-bottom: 15px;
    width: 50%;
    height: 22px;
    outline: none;
    border:  0 solid rgb(169, 169, 169);
}   

#country {
          font-family:Georgia, 'Times New Roman', Times, serif;
          font-size: 1em;
          border-radius: 8px;
          margin-bottom: 15px;
          width: 50%;
          height: 22px;
          outline: none;
          border:  0 solid rgb(169, 169, 169);
}

#password {
         font-family:Georgia, 'Times New Roman', Times, serif;
         font-size: 1em;
         border-radius: 8px;
         margin-bottom: 15px;
         width: 50%;
         height: 22px;
         outline: none;
         border:  0 solid rgb(169, 169, 169);
}

::placeholder { 
                color: rgb(169, 169, 169);
}                 
    
a[href] { text-decoration: none;
               transition: color 0.3s;
               text-decoration: 0.3s;
}
    
a:hover {
            background:linear-gradient(to right, #ff1493 , yellow);
}
    
button {
             border: 50px;
             line-height: 33px;
             border-radius: 25px;
             font-weight: bold;
             font-size: 18px;
             font-family: Georgia, 'Times New Roman', Times, serif;
             cursor: pointer;
             padding: 10px;
             
             margin: 15px 20px 20px 35px;
             width: 85%;
             background:linear-gradient(to right, #ff1493 , yellow);
}

button:hover {
            color: #ff1493;
}